{% extends 'base.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;"> <!-- Container Bootstrap pour centrer le contenu -->
    <div class="text-center">
    <h1 class="custom-title" style="color: #c43ddb;">Create new Fournisseur</h1>
    <div style="width: 100%;   margin: 0 auto; padding:70px"> <!-- Centrage horizontal du formulaire -->

    {{ include('fournisseur/_form.html.twig') }}
</div>
    <a href="{{ path('app_fournisseur_index') }}">back to list</a>
</div>
</div>
    {% endblock %}
